*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f4f6f8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 450px;
    height: 350px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 5px 6px #d8d2d2;
    background-color: #fff;
    text-align: center;
    margin-top: 230px;
}
.login h1{
    font-size: 24px;
    margin-top: 20px;
    color: rgb(27, 26, 26);
}
.login h2{
    font-size: 20px;
    color: rgb(27, 26, 26);
    margin-top: 15px;
}
.login input{
    width: 320px;
    height: 35px;
    margin-top: 40px;
    padding-left: 10px;
    font-size: 15px;
}
.login button{
    margin-top: 50px;
    width: 120px;
    height: 35px;
    font-size: 16px;
    background-color: purple;
    color: #fff;
    border: none;
}